@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 10px;
  background: #1F2937;
}
.header {
	display: flex;
	flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: #1F2937;
}

.upper-header {
  display: flex;
  justify-content: space-between;
  margin: 0px 70px;
}

.right-links {
  display: flex;
  gap: 50px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, p, h1, .header-logo {
  text-decoration: none;
  color: #e5e7eb;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 0 0;
}

button {
  background: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  padding: 8px 32px;
  margin: 10px 10px;
}