@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.header {
	display: flex;
	flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.header-logo {
  font-family: 'Roboto', sans-serif;
}
.upper-header {
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}