@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  margin: 0;
  padding: 10px;
  background: #1F2937;
}

.header {
	display: flex;
	flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: #1F2937;
  
}

.upper-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-top: 10px;
}

.right-links {
  display: flex;
  gap: 50px;
  margin-right: 88px;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 20px;
}

.header-logo {
  margin-left: 88px;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.hc-right {
  /* border: 2px solid purple; */
  width: 450px;
  height: auto;
  display: flex;
  flex: 0 0 auto;
}

.hc-left {
  /* border: 2px solid purple; */
  width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-items: flex-start;
}
.main-img {
  height: auto;
  max-width: 100%; 
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, .header-logo {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

h1 {
  margin-bottom: 0;
  margin-top: 2px;
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

p {
  margin: 0 0;
  color: #e5e7eb;
  font-size: 18px;
}

button {
  background: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  padding: 8px 33px;
  margin: 10px 0px;
}

.image {
  width: 200px;
  height: 142px; 
  border: 2px solid #3882f6;
  border-radius: 10px;
}

h2 {
  margin-top: 55px;
  font-size: 36px;
  font-weight: extra-bold;
  /* color: hsl(270, 20%, 21%); */
  /* color: hsl(53, 100%, 33%); */
  color: hsl(53, 99%, 36%);
  text-align: center;
  padding-bottom: 15px;
}

.info {
  background: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 120px;
  padding-bottom: 30px;
}

.boxes-container {
  padding-top: 25px;
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  margin-bottom: 100px;
  
}

.box {
  max-width: 200px;
}

.text {
  padding-top: 5px;
  text-align: center;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  color: rgb(159, 127, 84)
}

.quote-section {
  background: #e5e7ebd3;
  display: flex;
  justify-content: center;
  padding: 70px 200px;
}

p.quote {
  color:#1F2937;
  font-family: sans-serif, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.name {
  text-align: end;
  font-weight: bold;
}

.bottom {
  background: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.call-to-action {
  background: #3882f6;
  width: 600px;
  padding: 10px 120px;
  display: flex;
  justify-content: space-between;
  border-radius: 7px;
}

.cta-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.button2 {
  background: #3882f6;
  color: #e5e7eb;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 7px;
  padding: 8px 33px;
  margin: 10px 0px;
}

.time-to-travel-title {
  font-weight: bold;
  font-size: 20px;
}

.footer {
  background: #1F2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: sans-serif, 'Times New Roman', Times, serif;

}